# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# Environment & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store

# Testing
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Prisma local artifacts
prisma/*.db
prisma/*.db-journal
